.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #DBD3C9;
  color: #020202;
}


.navBar button{
  margin: 10px 10px; 
}

.navBar a:hover{
  color: #FAD4D8;
}

.container img{
  border-radius: 50%;
  height: 150px;
  margin: 25px;
}